<!DOCTYPE html>
<html>
<head>
    <title>Upload Song - Mawidy AI</title>
</head>
<body style="font-family: Arial; text-align:center; background:#f5f9ff;">

    <h2>🎵 Upload Song</h2>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="song" required>
        <br><br>
        <button type="submit" style="padding:10px 20px; background:blue; color:white;">
            Upload
        </button>
    </form>

    <br>
    <a href="/">⬅ Back Home</a>

</body>
</html>
